.divisao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100dvh;
    
}
.container1{
    width: 15px;
    transition: 300ms
     ease-in;
}
.container2{
    width: 94.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 300ms ease-in;
}

.container1.open{
    width: 235px;
}
.container1.close{
    width: 70px;
}
.container2.open{
    width: 80%;
}
.container2close{
    width: 94.5%;
}
.page{
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    
    
}

.page2{
    display: flex;
    width: 1090px;
    flex-direction: column;
}

.linechartDiv{
    margin: 10px;
    padding: 10px;
    width: 600px;
    height: 350px;

    border-radius: 15px;
    box-shadow: 
    inset 3px 3px 10px white,
    inset -3px -3px 10px rgb(138, 138, 138),
    -1px -1px 2px white,
     1px 1px 2px rgb(65, 65, 65),
     -5px -5px 10px white,
     5px 5px 10px rgb(65, 65, 65);


    display: flex;
    flex-direction: column;
}

.textLineChart{
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 5px;
    padding: 2px 10px;
    margin: 2px 0px 8px;
    font-size: 25px;
    font-family: var(--font-links-header);
    ;
}


.caixaCor{
    padding: 5px;
    width: 0;
    height: 0;
    border-radius: 10px;
    box-shadow: 
    2px 1px 3px rgb(66, 66, 66)
}

.piechartDiv{
    margin: 10px;
    padding: 10px;
    width: 600px;
    height: 300px;

    border-radius: 15px;
    box-shadow: 
    inset 3px 3px 10px white,
    inset -3px -3px 10px rgb(138, 138, 138),
    -1px -1px 2px white,
     1px 1px 2px rgb(65, 65, 65),
     -5px -5px 10px white,
     5px 5px 10px rgb(65, 65, 65);


    display: flex;
    
}

.legendaPie{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.legendaPie span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.caixaCor.um{background-color: rgb(233, 128, 90);}
.caixaCor.dois{background-color: rgb(73, 123, 231);}
.caixaCor.tres{background-color: rgb(34, 202, 166);}
.caixaCor.quatro{background-color: rgb(231, 184, 30);}

.secao{
    display: flex;
    flex-direction: row;
}
